.intro {
  position: static;
  color: $color-alice-blue;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/intro-image.jpg");
    background-color: $color-lochmara;
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
    top: 0;
    z-index: -1;

    @media (min-width: $vp-1024) {
      @include retina {
        background-image: url("../img/intro-image@2x.jpg");
      }
    }

    @include vp-1023 {
      height: 638px;
      background-image: url("../img/intro-image-tablet.jpg");

      @include retina {
        background-image: url("../img/intro-image-tablet@2x.jpg");
      }
    }

    @include vp-767 {
      height: 500px;
      background-image: url("../img/intro-image-mobile.jpg");

      @include retina {
        background-image: url("../img/intro-image-mobile@2x.jpg");
      }
    }
  }
}

.intro__container {
  padding-top: 188px;
  padding-bottom: 228px;

  @include vp-1023 {
    padding-top: 200px;
    padding-bottom: 280px;
  }

  @include vp-767 {
    padding-top: 102px;
    padding-bottom: 246px;
  }
}

.intro h1 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  text-shadow: 0 4px 4px $color-shadow;
  margin-left: 95px;
  margin-bottom: 30px;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
    text-shadow: none;
    margin-left: 0;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 25px;
  }
}

.intro p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-left: 95px;
  text-shadow: 0 4px 4px $color-shadow;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
    text-shadow: none;
    margin-left: 0;
  }

  @include vp-767 {
    font-size: 16px;
  }
}
