.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 33px;

  @include vp-1023 {
    gap: 23px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
  }
}

.navigation__toggle {
  display: none;
}

.navigation__logo svg {
  width: 100%;
  height: 100%;
}

.navigation__logo {
  display: block;
  width: 70px;
  height: 38px;
  fill: $color-alice-blue;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }
}

.navigation__list a {
  display: block;
  color: $color-alice-blue;
}
