.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 33px;

  @include vp-1023 {
    gap: 23px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
  }
}

.navigation__toggle {
  display: none;

  @include vp-767 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 12px;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 14px;
      background-image: url("../img/svg/burger.svg");
    }
  }
}

.navigation__logo svg {
  width: 100%;
  height: 100%;
}

.navigation__logo {
  display: block;
  width: 70px;
  height: 38px;
  fill: $color-alice-blue;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }
}

.navigation__list a {
  display: block;
  color: $color-alice-blue;
}

.navigation__header-list {
  @include vp-767 {
    display: none;
  }
}


.navigation__header-list a {
  @include vp-767 {
    width: 100%;
    color: $color-tangaroa;
    padding: 10px 10px 8px 10px;
  }
}

.navigation__header-list li {
  @include vp-767 {
    margin-bottom: 10px;
  }
}

.is-open .navigation__header-list {
  @include vp-767 {
    display: block;
    top: -20px;
    left: 36px;
    padding-top: 75px;
    padding-left: 15px;
    position: absolute;
    background-color: $color-alice-blue;
    z-index: 2;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
  }
}


.is-open .navigation__toggle {
  &::before,
  &::after {
    z-index: 3;
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    background-color: $color-tangaroa;
  }

  &::before {
    background-image: none;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

}

.is-open .navigation__logo--mobile {
  @include vp-767 {
    z-index: 3;
    fill: $color-tangaroa;
    margin-left: 60px;
  }
}

.is-open ~ .main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $color-backgroung;
}

